<html>
    <head>
        <title>about File</title>
        <link rel="icon" href="img/—Pngtree—weather icon_1204063.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img src="img/kisspng-linkedin-lead-generation-business-sales-lead-marke-vector-tablet-computer-villain-5a8e2704c69032.4637037015192655408133.png">
        </div>
        {{>footer}}
    </body>
</html>